.tile-container {
  position: relative;
  width: calc(1440px / 6);
  height: calc(1440px / 6);
  background-color: var(--main-color-light);
  border-radius: 5px;
  padding: 20px;
  transition: opacity 0.3s ease;
}

.tile-container:hover {
  opacity: 0.8;
  cursor: pointer;
}

.tile-header {
  text-align: center;
  height: 40px;
}

.tile-header span {
  vertical-align: top;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: var(--main-color-dark);
  display: block;
}

.tile-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-image img {
  width: 160px;
  height: 160px;
}
