<div id="app_content">
  <router-outlet></router-outlet>
  <div id="container_mobile">
    <div id="main-chart-title">
      <span>{{mobileName}}</span>
    </div>
    <ng-container *ngIf="mobileName">
      <ng-container *ngIf="mobileIsSingleValue">
        <span>{{mobileSingleValue}}</span>
      </ng-container>
      <ng-container *ngIf="!mobileIsSingleValue">
        <div id="main-chart">
          <app-chart [chartDatasets]="mobileDatasets" [labels]="mobileLabels" [outliers]="mobileOutliers"></app-chart>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div id="container_desktop">
    <div *ngFor="let chart of chartData.tiles">
      <div *ngIf="chart.type === 'SINGLE_VALUE_CHART'">
        <app-single-value-tile [chartTitle]=chart.label [chartValue]=chart.value></app-single-value-tile>
      </div>
      <div *ngIf="!(chart.type === 'SINGLE_VALUE_CHART')">
        <app-tile [chartType]=chartType(chart.type) [chartTitle]=chart.label
                  (click)="displayChart(chart, true)"></app-tile>
      </div>
    </div>
  </div>
</div>
