#main-chart-title {
  text-align: center;
  padding-bottom: 20px;
}

#main-chart-title span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--main-color-dark);
}

#container_desktop {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

#app_content {
  padding: 40px;
  background-color: var(--main-color-gray);
  min-height: calc(100vh - 90px)
}

#app_content #container_desktop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px
}

#main-chart-line-bar {
  height: calc(100vh - 194px);
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius:12px;
}

#main-chart-single-value {
  border-radius:12px;
  background-color: grey;
}

#main-chart-single-value > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  word-wrap: break-word;
  color: red;
  display: block;
}
