<div id="app_content">
  <router-outlet></router-outlet>
  <div id="container_mobile">
    <div id="main-chart-title">
      <span>Wykres</span>
    </div>
    <div id="main-chart">
      <app-chart></app-chart>
    </div>
  </div>
  <div id="container_desktop">
    <div *ngFor="let chart of chartData.tiles">
      <div *ngIf="chart.type === 'SINGLE_VALUE_CHART'">
        <app-single-value-tile [chartTitle]=chart.label [chartValue]=chart.value></app-single-value-tile>
      </div>
      <div *ngIf="!(chart.type === 'SINGLE_VALUE_CHART')">
        <app-tile [chartType]=chartType(chart.type) [chartTitle]=chart.label (click)="openModal(chart)"></app-tile>
      </div>
    </div>
  </div>
</div>